<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    {% include "components/connection.html" %}
</head>
<body>
<!--{% include "components/header.html" %}-->
<section class="authorization_container">
    <div class="authorization_wrapper">
        <h1 class="mainHeading">Регистрация</h1>
        <form class="authorization_form" id="form">
            <div>
                <input class="form_item" placeholder="Введите почту"/>
            </div>
            <div>
                <input class="form_item" type="password" placeholder="Введите пароль"/>
            </div>
            <button>
                <div class="form_button" id="btn">Зарегистрироваться</div>
            </button>
            <div>
                Уже есть аккаунт? <a href="/login" class="proposalLink">Авторизоваться</a>
            </div>
        </form>
    </div>
</section>

<script>
    const form = document.getElementById('form')
    form.onsubmit = async (e) => {
        e.preventDefault()
        const formItems = document.getElementsByClassName('form_item');
        const email = formItems[0].value
        const password = formItems[1].value
        if (!email) return alert('Вы не ввели почту')
        if (!password) return alert('Вы не ввели пароль')
        if(!email.match(/^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,}$/i)) return alert('Неверный формат почты')
        if(password.length <= 6) return alert('Длина пароля должна быть более 6 символов')
        const body = {
            email, password
        }
        try {
            await axios.post('/api/registration', body)
            alert('Вы успешно зарегистрированы')
            window.location.href = '/login'
        } catch (e) {
            console.log(e)
            alert(e?.response?.data?.message || "Что-то пошло не так")
        }
    }
</script>
</body>
</html>
